<clr-dropdown class="boemska-nav-dropdown" clrMenuPosition="bottom-right">
  <button class="nav-text" clrDropdownToggle>
    <span>{{userName}}</span>
    <span class="badge badge-danger" *ngIf="!debugMode" [class.hidden]="failedReqs.length === 0">{{failedReqs.length}}</span>
    <span class="badge badge-warning" *ngIf="debugMode" [class.hidden]="debugLogs.length === 0">{{debugLogs.length}}</span>
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu>
    <div clrDropdownItem>
      <form>
        <div class="form-group">
          <div class="toggle-switch">
            <input id="debug-toggle" type="checkbox" [(ngModel)]="debugMode" (ngModelChange)="onDebugModeChange()" [ngModelOptions]="{standalone: true}"/>
            <label for="debug-toggle">Debug Mode</label>
          </div>
        </div>
      </form>
    </div>
    <a href="..." [routerLink]="['/application-logs']" clrDropdownItem>
      <span>Application Logs</span>
      <span class="badge" *ngIf="appLogs.length > 0">{{appLogs.length}}</span>
    </a>
    <a *ngIf="debugMode" href="..." [routerLink]="['/debug-logs']" clrDropdownItem>
      <span>Debug Logs</span>
      <span class="badge badge-info" *ngIf="debugLogs.length > 0">{{debugLogs.length}}</span>
    </a>
    <a *ngIf="!debugMode" href="..." [routerLink]="['/failed-requests']" clrDropdownItem>
      <span>Failed Requests</span>
      <span class="badge badge-danger" *ngIf="failedReqs.length > 0">{{failedReqs.length}}</span>
    </a>
    <a href="..." [routerLink]="['/errors']" clrDropdownItem>
      <span>Errors</span>
      <span class="badge badge-warning" *ngIf="sasErrors.length > 0">{{sasErrors.length}}</span>
    </a>
    <div class="separator"></div>
    <a href="..." clrDropdownItem>
      <span>Log Out</span>
      <clr-icon shape="logout"></clr-icon>
    </a>
  </clr-dropdown-menu>
</clr-dropdown>
