@import '../../../../node_modules/clarity-ui/src/utils/helpers.clarity';

@import '../../../../node_modules/clarity-ui/src/color/utils/colors.clarity';
@import '../../../../node_modules/clarity-ui/src/color/utils/contrast-cache.clarity';
@import '../../../../node_modules/clarity-ui/src/color/utils/helpers.clarity';

@import '../../../../node_modules/clarity-ui/src/utils/variables.clarity';

.loading-indicator {
  line-height: $clr-header-height;
  height: $clr-header-height;

  .spinner {
    vertical-align: middle;
  }

  clr-signpost-content {
    color: $clr-dark-gray;
    cursor: auto;

    p {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      span {
        &.running {
          color: $clr-yellow;
        }
        &.success {
          color: $clr-green;
        }
        &.fail {
          color: $clr-red;
        }
      }
    }
  }
}
