<div class="card">
  <div class="card-header" style="text-align: center;">
    History
  </div>
  <div class="card-block">
    <clr-datagrid>
      <clr-dg-column>Model</clr-dg-column>
      <clr-dg-column>User</clr-dg-column>
      <clr-dg-column>Datetime</clr-dg-column>
      <clr-dg-column>Parameter set</clr-dg-column>

      <clr-dg-row>
        <clr-dg-cell>Model 1</clr-dg-cell>
        <clr-dg-cell>User 1</clr-dg-cell>
        <clr-dg-cell>Datetime 1</clr-dg-cell>
        <clr-dg-cell>Parameter set 1</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 2</clr-dg-cell>
        <clr-dg-cell>User 2</clr-dg-cell>
        <clr-dg-cell>Datetime 2</clr-dg-cell>
        <clr-dg-cell>Parameter set 2</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 3</clr-dg-cell>
        <clr-dg-cell>User 3</clr-dg-cell>
        <clr-dg-cell>Datetime 3</clr-dg-cell>
        <clr-dg-cell>Parameter set 3</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 4</clr-dg-cell>
        <clr-dg-cell>User 4</clr-dg-cell>
        <clr-dg-cell>Datetime 4</clr-dg-cell>
        <clr-dg-cell>Parameter set 4</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 5</clr-dg-cell>
        <clr-dg-cell>User 5</clr-dg-cell>
        <clr-dg-cell>Datetime 5</clr-dg-cell>
        <clr-dg-cell>Parameter set 5</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 6</clr-dg-cell>
        <clr-dg-cell>User 6</clr-dg-cell>
        <clr-dg-cell>Datetime 6</clr-dg-cell>
        <clr-dg-cell>Parameter set 6</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 7</clr-dg-cell>
        <clr-dg-cell>User 7</clr-dg-cell>
        <clr-dg-cell>Datetime 7</clr-dg-cell>
        <clr-dg-cell>Parameter set 7</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 10</clr-dg-cell>
        <clr-dg-cell>User 8</clr-dg-cell>
        <clr-dg-cell>Datetime 8</clr-dg-cell>
        <clr-dg-cell>Parameter set 8</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 9</clr-dg-cell>
        <clr-dg-cell>User 9</clr-dg-cell>
        <clr-dg-cell>Datetime 9</clr-dg-cell>
        <clr-dg-cell>Parameter set 9</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-row>
        <clr-dg-cell>Model 10</clr-dg-cell>
        <clr-dg-cell>User 10</clr-dg-cell>
        <clr-dg-cell>Datetime 10</clr-dg-cell>
        <clr-dg-cell>Parameter set 10</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer></clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="card-footer">
  </div>
</div>
