
<div class="card">
  <div class="card-header" style="text-align: center;">
    Data Loading
  </div>
  <div class="card-block" style="padding: 2rem;">
    <div class="card-text" style="display:flex;justify-content:center;justify-content: space-evenly;">
      <div class="row col-md-10 mLeft">
        <div class="form-group col-md-3">
          <div>
            <span>
              <label for="file-upload" class="col-md-12 btn btn-outline profile-buttons" style="margin-top: 12px;">
                  Choose File
              </label>
            </span>
            <input hidden id="file-upload" type="file">
          </div>
          </div>
          <div class="form-group col-md-5">
            <label for="selects_1">Choose Period</label>
            <div class="select">
              <select id="selects_1">
                <option>2016-12</option>
                <option>2017-01</option>
                <option>2017-02</option>
                <option>2017-03</option>
                <option>2017-04</option>
                <option>2017-05</option>
                <option>2017-06</option>
                <option>2017-07</option>
                <option>2017-08</option>
                <option>2017-09</option>
                <option>2017-11</option>
                <option>2017-12</option>
                <option>2018-01</option>
                <option>2018-02</option>
                <option>2018-03</option>
                <option>2018-04</option>
                <option>2018-05</option>
                <option>2018-06</option>
                <option>2018-07</option>
                <option>2018-08</option>
                <option>2018-09</option>
                <option>2018-10</option>
                <option>2018-11</option>
                <option>2018-12</option>
              </select>
            </div>
          </div>
            <button style="display:flex;justify-content:center;margin-top: 10px;" class="btn btn-primary col-md-3">Upload</button>
        </div>

    </div>
  </div>
  <div class="card-footer">
  </div>
</div>
